<header>
    <div class="header-left">
       <h1 class="site-title">GeoVigil</h1>
        <img src="/images/EarthEye.gif" alt="GeoVigil Logo" height="40" class="logo-img">
    </div>
 
    <nav>
        <a href="/">Home</a>
        <a href="/">About Us</a>
        <a href="/login">Login</a>
        <a href="/application">Get App</a>
    </nav>
    <button id="darkModeToggle" class="dark-toggle-btn" title="Toggle Dark Mode">🌙</button>

</header>